<div>
    <form method="post" action="#">
        <!-- Fieldset -->
        <fieldset>
            <legend>This is a simple fieldset</legend>
            <p>
                <label for="sf">Small field: </label>
                <input id="sf" class="sf" name="sf" type="text" value="small input field">
                <span class="field_desc">Field description</span>
            </p>
            <p>
                <label for="mf">Medium Field: </label>
                <input id="mf" class="mf" name="mf" type="text" value="medium input field"> <span class="validate_success">A positive message!</span>
            </p>
            <p>
                <label for="lf">Large Field: </label>
                <input id="lf" class="lf" name="lf" type="text" value="large input field"> <span class="validate_error">A negative message!</span>
            </p>
            <p>
                <label>Linecheckboxes: </label>
                <input type="checkbox">Lorem Ipsum
                <input type="checkbox">Lorem Ipsum
                <input type="checkbox">Lorem Ipsum
                <input type="checkbox">Lorem Ipsum
            </p>
            <p>
                <label for="dropdown">DropDown: </label>
                <select id="dropdown" name="dropdown" class="dropdown">
                    <option>Please select an option</option>
                    <option>Upload</option>
                    <option>Change</option>
                    <option>Remove</option>
                </select>
            </p>
            <p>
                <label>Vertical:</label>
            </p>



            <p>
                <input class="button" type="submit" value="Submit">
                <input class="button" type="reset" value="Reset">
            </p>
        </fieldset>
        <!-- End of fieldset -->
    </form>
</div>