<div class="row-fluid">
    <div class="row-fluid ">
        <div class="alert alert-warning alert-dismissible fade in panel-margin information message" role="alert" data-dismiss="alert" aria-label="Close">
            <h3 class="panel-margin-content">表单设置-请合理使用!</h3>
            <p>用于设置以后自动生成表格，只要将数据源传入即可显示相关信息！</p>
        </div>
    </div>
   <div class="row-fluid">
       <div class="col-sm-offset-1 col-sm-10" >
           <form class="form-horizontal panel-margin" role="form">
               <fieldset>
                   <legend>创建表单</legend>
                   <div class="form-group">
                       <label for="disabledSelect"  class="col-sm-2 control-label">表名</label>
                       <div class="col-sm-3">
                           <select id="disabledSelect" class="dropdown" ng-options="table.tableName for table in dataTable" ng-model="selected" ng-change="getTableConfig()">
                               <option value="">---选择表格---</option>
                           </select>
                       </div>
                       <div class="col-sm-6">
                           <button type="button" class="btn btn-primary btn-sm" ng-click="setData()"><i class="fa fa-cog fa-fw"></i>设置</button>
                           <button type="button" class="btn btn-primary btn-sm" ng-click="viewTable()"><i class="fa fa-gears fa-fw"></i>预览</button>
                       </div>
                   </div>
               </fieldset>
           </form>
       </div>
    </div>
    <div class="row-fluid" ng-if="viewSelect == 0">
        <div class="col-sm-offset-1 col-sm-10" >
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    字段设置
                </div>
                <form class="form-inline panel-heading-btn-group ">
                    <div class="form-group">
                        <label >服务所属空间:</label>
                        <input type="text" class="mf" placeholder="Service name space" ng-model="serviceObj.serviceSpace" >
                    </div>
                    <div class="form-group">
                        <label >服务名称:</label>
                        <input type="text" class="mf" placeholder="service name" ng-model="serviceObj.serviceName" >
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="pageStyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span style="color: #FFFFFF"><i class="fa fa-file-code-o fa-fw"></i>分页控件</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="pageStyle">
                                <li><span>无</span></li>
                                <li><span>条纹状表格</span></li>
                                <li><span>带边框的表格</span></li>
                                <li><span>鼠标悬停</span></li>
                                <li><span>紧缩表格</span></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="addColumns(1)" >添加事件</button>
                    <button class="btn btn-primary" ng-click="addColumns(2)" >添加列</button>
                </form>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>序号</th>
                        <th>字段名称</th>
                        <th>别名</th>
                        <th></th>
                    </tr>
                    <!--有问题-->
                    <tr ng-repeat="columnInfo in selectedTwo">
                        <th><span ng-bind="columnInfo.index = $index"></span></th>
                        <!--普通列-->
                        <td ng-if="columnInfo.type == 0 "><span ng-bind="columnInfo.columnName"></span></td>
                        <td ng-if="columnInfo.type==2 || columnInfo.type==1"><input type="text" ng-model="columnInfo.columnName"></td>
                        <td><input type="text" ng-model="columnInfo.alias"></td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteColumn(columnInfo)"><i class="fa fa-trash-o fa-lg"></i> 删除</button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="transfer(columnInfo)"><i class="fa fa-arrows-h fa-lg"></i> 转义</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="moveData(columnInfo,1)"><i class="fa fa-arrow-down fa-lg"></i> 下移</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="moveData(columnInfo,2)"><i class="fa fa-arrow-up fa-lg"></i> 上移</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">添加字段转义</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <!-- Fieldset -->
                                <fieldset>
                                    <p ng-repeat="mapProperties in mapProperties">
                                        <label>key: </label>
                                        <input class="sf" name="keyTransfer" type="text" value="medium input field" ng-model="mapProperties.value">
                                        <label>value: </label>
                                        <input class="sf" name="keyTransfer" type="text" value="medium input field" ng-model="mapProperties.valueOriginal">
                                    </p>
                                </fieldset>
                                <!-- End of fieldset -->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input class="button" type="button" value="取消" data-dismiss="modal">
                            <input class="button" type="button" value="添加映射" ng-click="addMapData()">
                            <input class="button" type="button" ng-click="saveTableTransfer()" data-dismiss="modal" value="确定">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <table-manage></table-manage>
    <div class="row-fluid" ng-if="viewSelect == 1">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="tableStyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span style="color: #FFFFFF">表格样式</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="tableStyle">
                            <li ng-click="selectedTwo.tableClass = 'table';"><span>默认</span></li>
                            <li ng-click="selectedTwo.tableClass = 'table table-striped';"><span>条纹状表格</span></li>
                            <li ng-click="selectedTwo.tableClass = 'table table-bordered';"><span>带边框的表格</span></li>
                            <li ng-click="selectedTwo.tableClass = 'table table-hover';"><span>鼠标悬停</span></li>
                            <li ng-click="selectedTwo.tableClass = 'table table-condensed';"><span>紧缩表格</span></li>
                            <li ng-click="selectedTwo.tableClass = 'fullwidth';"><span>黑白表格</span></li>
                        </ul>
                    </div>
                </div>
                <div id="table-production">
                    <div class="table-head">
                        <i><event-manage eventData="column"></event-manage></i>
                    </div>
                    <table id="productTable" ng-class="tableClass">
                        <tr>
                            <th ng-repeat="column in selectedTwo" ng-bind="column.alias?column.alias:column.columnName"></th>
                        </tr>
                        <tr ng-repeat="rowData in dataViewTable">
                            <td ng-repeat="column in selectedTwo" ng-bind="rowData[column.columnName]">
                                <i ng-if="column.type==0">
                                    <span ng-bind="rowData[column.columnName]"></span>
                                </i>
                                <i ng-if="column.type==1">
                                    <event-manage eventData="column"></event-manage>
                                </i>
                            </td>
                        </tr>
                    </table>
                    <div class="table-footer">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>