<div>
    <div id="main">
        <p ng-if="serviceShow==1"><a href="#" class="button" title="添加服务" id="dialog_link" data-toggle="modal"
                                     data-target="#role" ng-click="cleanUrl()"><span
                class="ui-icon ui-icon-plusthick"></span>添加服务</a></p>
        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0" id="serviceView" ng-if="serviceShow==1">
            <thead>
            <tr>
                <td>序号</td>
                <td>服务名</td>
                <td>链接</td>
                <td>链接描述</td>
                <td style="width: 20%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr class="{{$index%2==0?'':'odd'}}" ng-repeat="row in dataUrl">
                <td ng-bind="row.id"></td>
                <td ng-bind="row.urlName"></td>
                <td ng-bind="row.url"></td>
                <td ng-bind="row.descript"></td>
                <td>
                    <input class="btn btn-warning btn-xs" type="button" value="修改" ng-click="updateUrlEvent(row)"
                           data-toggle="modal" data-target="#role">
                    <input class="btn btn-danger btn-xs" type="button" value="删除" ng-click="deleteUrl(row)">
                    <input class="btn btn-primary btn-xs" type="button" value="参数验证" ng-click="checkParams(row)">
                    <input class="btn btn-info btn-xs" type="button" value="链接权限" ng-click="queryRole(row)">
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-if="serviceShow==2"><a href="javascript:void(0)" class="button" title="返回" ng-click="backPri()"><span
                class="ui-icon ui-icon-arrowthick"></span>返回</a>
            <a href="#" class="button" title="添加角色" id="link" data-toggle="modal" data-target="#roleUrl"
               ng-click="loadAllRole()"><span class="ui-icon ui-icon-plusthick"></span>添加角色</a>
        </p>
        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0" id="authorization" ng-if="serviceShow==2">
            <thead>
            <tr>
                <td>序号</td>
                <td>类型名称</td>
                <td>权限标识</td>
                <td>权限描述</td>
                <td style="width: 20%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr class="{{$index%2==0?'':'odd'}}" ng-repeat="row in roleUrlData">
                <td ng-bind="row.id"></td>
                <td ng-bind="row.category"></td>
                <td ng-bind="row.roleName"></td>
                <td ng-bind="row.descript"></td>
                <td>
                    <input class="btn btn-danger btn-xs" type="button" value="删除" ng-click="deleteUrlRole(row)">
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-if="serviceShow==3"><a href="javascript:void(0)" class="button" title="返回" ng-click="backPri()"><span
                class="ui-icon ui-icon-arrowthick"></span>返回</a>
            <a href="#" class="button" title="添加参数" data-toggle="modal" data-target="#checkInfo" ng-click="resetData()"><span
                    class="ui-icon ui-icon-plusthick"></span>添加参数</a>
        </p>
        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0" id="params" ng-if="serviceShow==3">
            <thead>
            <tr>
                <td>序号</td>
                <td>参数名称</td>
                <td>参数类型</td>
                <td>参数验证</td>
                <td style="width: 20%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr class="{{$index%2==0?'':'odd'}}" ng-repeat="row in rowTemp.fieldCheck">
                <td ng-bind="row.id"></td>
                <td ng-bind="row.name"></td>
                <td ng-bind="row.type"></td>
                <td>
                    <span ng-repeat = " t in row.checkInfos" ng-bind="t.name">
                    </span>
                </td>
                <td>
                    <input class="btn btn-danger btn-xs" type="button" value="删除" ng-click="deleteParams(row)">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="role" tabindex="-1" role="dialog" aria-labelledby="role">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增链接</h4>
                    </div>
                    <div class="modal-body">
                        <div id="defaultForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">链接名称：</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="name" ng-model="url.urlName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">url：</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="name" ng-model="url.url"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">链接描述：</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="identify" ng-model="url.descript"/>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="addUrl()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="roleUrl" tabindex="-1" role="dialog" aria-labelledby="role">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="title">新增链接</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive table-hover" cellpadding="0" cellspacing="0" border="0"
                           id="urlRole" ng-if="!serviceShow">
                        <thead>
                        <tr>
                            <td>类型名称</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="{{$index%2==0?'':'odd'}}" ng-repeat="row in roleData">
                            <td ng-bind="row.category"></td>
                            <td>
                                <input class="btn btn-danger btn-xs" type="button" value="添加"
                                       ng-click="addUrlRole(row)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="checkInfo" tabindex="-1" role="dialog" aria-labelledby="role">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">验证信息</h4>
                </div>
                <div class="modal-body">
                    <div id="propertiesForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">参数名称：</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="params.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">类型：</label>
                            <div class="col-lg-8">

                                <select ng-model="params.type" class="form-control">
                                    <option value="01" selected>整型</option>
                                    <option value="02">字符串</option>
                                    <option value="03">布尔</option>
                                    <option value="04">对象</option>
                                    <option value="05">整型数组</option>
                                    <option value="06">字符串数组</option>
                                    <option value="07">对象数组</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">描述：</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="params.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">验证规则：</label>
                            <div class="col-lg-6">
                                <select ng-model="ci" class="form-control" ng-options="temp.name for temp in checkInfo">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="addTemp()">添加</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3">已选规则：</label>

                            <div class="col-lg-8">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>规则名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="tt in params.checkInfos">
                                           <td ng-bind="tt.name"></td>
                                           <td><a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteTemp(tt)">删除</a></td>
                                       </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="saveParams()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>