<!DOCTYPE html>
<html  ng-app="app">
<head>
<title>e-uniontech</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="aromatherapy/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="aromatherapy/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="aromatherapy/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
	<link rel="icon" href="aromatherapy/images/favicons.ico" type="image/x-icon" />
</head>
	
<body>
<!-- header-top -->
	<div class="header-top">
		<div class="container">
			<div class="header-top-left">
				<p><a href="mailto:admin@e-uniontech.com">mail: admin@e-uniontech.com</a></p>
			</div>
			<div class="header-top-lft">
				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></p>
			</div>
			<div class="header-top-right">
				<p>+86 138 2522 6246</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header-top -->
<!-- header -->
	<div class="header">
	    <div class="container">
			<div class="header-main">
				<div class="logo">
					<a href="index.html"><label>A</label>romliving<span>Leading an aroma life</span></a>
				</div>
				<div class="top-nav">
					<span class="menu"> <img src="aromatherapy/images/menu.png" alt=""/></span>
					<ul class="nav">
						<li class="hvr-sweep-to-bottom"><a class="active" href="index.html"><i class="glyphicon glyphicon-home"> </i>Product</a></li>
						<li class="hvr-sweep-to-bottom"><a class="scroll" href="#about"><i class="glyphicon glyphicon-star"> </i>About</a></li>
						<li class="hvr-sweep-to-bottom"><a class="scroll" href="#services"><i  class="glyphicon glyphicon-thumbs-up"> </i>Service</a></li>
						<li class="hvr-sweep-to-bottom"><a class="scroll" href="#news"><i class="glyphicon glyphicon-list-alt"> </i>New Product</a></li>
						<li class="hvr-sweep-to-bottom"><a class="scroll" href="#contact"><i class="glyphicon glyphicon-envelope"> </i>Contact</a></li>
					</ul>
							<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
				</div>	
				<div class="clearfix"> </div>
			</div>	
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner1">
							<div class="container">
								<div class="banner-info">
									<h3>Wood Grain Style Aroma Diffuser</h3>
									<p>Our wood grain series use high quality wood grain PP material with multi-color LED light, the diffuser designed specially for home/office use. Right there, belongs to there.</p>
								</div>
							</div>
							</div>
						</li>
						<li>
							<div class="banner2">
							<div class="container">
								<div class="banner-info">
									<h3>Plastic Style Aroma Diffuser</h3>
									<p>High quality food-level PP material provided by Samsung with anti-corrosion treatment, stay pure, stay white.</p>
								</div>
							</div>
							</div>
						</li>
						<li>
							<div class="banner3">
							<div class="container">
								<div class="banner-info">
									<h3>Glass/Resin Aroma diffuser</h3>
									<p>Cover made by frosted glass/resin, this series are all compatible with gentle design and modern style. Suit for different home decoration.</p>
								</div>
							</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!--FlexSlider-->
					<link rel="stylesheet" href="aromatherapy/css/flexslider.css" type="text/css" media="screen" />
					<script defer src="aromatherapy/js/jquery.flexslider.js"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
			<!--End-slider-script-->
		</div>
	</div>
<!-- //banner -->
<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<h3>About Us</h3>
			<div class="about-grids">
				<div class="col-md-6 about-grid-left">
					<h4>E-Union is one of the earliest manufacturer with 9 year’s experience specialized in aroma diffuser. </h4>
					<p>With over 250 people in the production line and 20 specialized engineer and complete QC system, we can make the overall faulty rate less than 0.3%. We keep presenting new products. <span>
						product will come out every month. Welcome to take a visit to our factory.</span></p>
					<div class="about-grid-left-grids">
						<div class="about-grid-left-grid">
							<img src="aromatherapy/images/2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="about-grid-left-grid">
							<img src="aromatherapy/images/3.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="about-grid-left-grid">
							<img src="aromatherapy/images/4.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="about-grid-left-grid">
							<img src="aromatherapy/images/5.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 about-grid-right">
					<img src="aromatherapy/images/1.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
<!-- services -->
	<div class="service" id="services">
		<div class="container">
			<div class="wmuSlider example1">
			    <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
					<div class="service-wrap">
						<div class="service-info">
							<h3>Advantage of Aroma Diffuser</h3>
							<p>Aroma diffusers use aroma to enhance a feeling of well-being. It works as inhalants in an effort to affect mood and promote health. Essential oils that are inhaled into the lungs offer both psychological and physical benefits.
								When using with the essential oil, the aroma diffuser is not just a humidifier, but also a aromatherapy diffuser. Different essential oil have different effect. Aroma diffuser is the product which specially designed for essential oil. Our diffuser use imported Samsung food level PP material to guarantee the maximum product safety to our customer. Full glass fiber PCB with water proof treatment is also made to the control board. Product talks the quality.
							</p>
						</div>
					</div>
					</article>

				</div>
					<script src="aromatherapy/js/jquery.wmuSlider.js"></script>
					  <script>
						$('.example1').wmuSlider();         
					 </script>
			</div>
		</div>
	</div>
	<div class="services1">
		<div class="container">
			<h3>Services</h3>
			<div class="servc-grids">
				<div class="col-md-6 servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<!--<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>-->
						<img src="aromatherapy/images/Research%20and%20Develop%20Ability.png" width="80">
					</div>
					<div class="col-xs-9 servc-grid-right">
						<h4>Research and Develop Ability</h4>
						<p>We know aroma diffuser always need new style to keep customer’s attraction. So we keep developing new style aroma diffuser. There are two new model coming out every month.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<img src="aromatherapy/images/Producing%20Ability.png" width="80">
					</div>
					<div class="col-xs-9 servc-grid-right">
						<h4>Producing Ability</h4>
						<p>Our factory have over 5000 square meter area, including office, producing area and warehouse. 300 workers on the production line, we can guarantee short leading time. Production under the guidance of ISO9001 and complete QC system, we have the highest QC pass rate in this industry.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="servc-grids">
				<div class="col-md-6 servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<img src="aromatherapy/images/Market%20Dept%20Team.png" width="80">
					</div>
					<div class="col-xs-9 servc-grid-right">
						<h4>Market Dept Team</h4>
						<p>Our market dept. sell diffuser to all over the world.. With perfect service, any inquiry can get response within 12 hours. You can get fully cooperation from us</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<img src="aromatherapy/images/Customize%20Requirement.png" width="80">
					</div>
					<div class="col-xs-9 servc-grid-right">
						<h4>Customize Requirement</h4>
						<p>We provide OEM/ODM service to sell your own products. Customize every part, right as you want. Our 20 experienced engineers can help do the designing for the product inside out, from shape to function.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- services-bottom -->
	<div class="services-bottom">
		<div class="container">
			<div class="services-bottom-info">
				<h3>Our Advantage</h3>
				<p>Our factory has 6000 sqm with over 300 employees. With guidance of ISO9001 and complete quality control system, all the product is fully checked before shipping.</p>
				<div class="col-md-6 services-bottom-info-left">
					<ul>
						<li><a href="#">6 production line to guarantee fast production</a></li>
						<li><a href="#">Production under ISO9001 guidance</a></li>
						<li><a href="#">Finished product 100% checked before shipping</a></li>
						<li><a href="#">OEM/ODM development ability</a></li>
					</ul>
				</div>
				<div class="col-md-6 services-bottom-info-right">
					<ul>
						<li><a href="#">Imported Samsung food level PP material</a></li>
						<li><a href="#">Full glass-fiber material PCB</a></li>
						<li><a href="#">Independent develop frequency monitoring solution</a></li>
						<li><a href="#">Own PCB/SMT, Mould factory to build full range support to customer</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services-bottom -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>
<!-- events -->
	<div class="event" id="news">
		<div class="container">
			<h3>News & Events</h3>
				<div class="event-grids">
					<div class="col-md-6 event-grid">
						<div class="event-grd">
							<div class="col-md-6 event-grid-left">
								<div class="box maxheight">
									<a class="example-image-link" href="aromatherapy/images/8.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="aromatherapy/images/8.jpg">
									</a>
								</div>
							</div>
							<div class="col-md-6 event-grid-right">
								<div class="evnt-grd-left">
									<p><span>EU-230</span></p>
								</div>
								<div class="evnt-grd-right">
									<p> This elegantly wood grain and glass material aroma diffuser is one of our hottest selling model. It can suit for different style of home decoration. Multicolour LED light warm your home.</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-6 event-grid">
						<div class="event-grd">
							<div class="col-md-6 event-grid-left">
								<div class="box maxheight">
									<a class="example-image-link" href="aromatherapy/images/9.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="aromatherapy/images/9.jpg">
									</a>
								</div>
							</div>
							<div class="col-md-6 event-grid-right">
								<div class="evnt-grd-left">
									<p><span>EU-207T</span></p>
								</div>
								<div class="evnt-grd-right">
									<p> Simple design, no logo designing appearance let you focus on the product it self. Imported Samsung food-level PP material has no pungent to human skin. Healthy and classic.</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="event-grids">
					<div class="col-md-6 event-grid">
						<div class="event-grd">
							<div class="col-md-6 event-grid-left">
								<div class="box maxheight">
									<a class="example-image-link" href="aromatherapy/images/7.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="aromatherapy/images/7.jpg">
									</a>
								</div>
							</div>
							<div class="col-md-6 event-grid-right">
								<div class="evnt-grd-left">
									<p><span>EU-2135</span></p>
								</div>
								<div class="evnt-grd-right">
									<p> Wood cap nebulizing diffuser, it don’t need water to dilute essential oil. Work silently with essential oil volatilize into air, this tiny diffuser can be placed any where you want.</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-6 event-grid">
						<div class="event-grd">
							<div class="col-md-6 event-grid-left">
								<div class="box maxheight">
									<a class="example-image-link" href="aromatherapy/images/10.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="aromatherapy/images/10.jpg">
									</a>
								</div>
							</div>
							<div class="col-md-6 event-grid-right">
								<div class="evnt-grd-left">
									<p><span>EU-1502B</span></p>
								</div>
								<div class="evnt-grd-right">
									<p> This oriental style aroma diffuser is made by ceramic. Black/white design shows the zen style which has exists in oriental culture long ago.</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- light-box -->
					<script src="aromatherapy/js/lightbox-plus-jquery.min.js"></script>
					<link rel="stylesheet" href="aromatherapy/css/lightbox.css">
				<!-- //light-box -->
		</div>
	</div>
<!-- //events -->
<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="col-md-5 contact-left">
				<h3>Address</h3>
				<p>
					<span>Guanguang Rd, Longhua, Shenzhen, China</span></p>
				<ul>
					<li>Phone: +86 138 2522 6246</li>
					<li><a href="mailto:admin@e-uniontech.com">admin@e-uniontech.com</a></li>
				</ul>
			</div>
			<div class="col-md-7 contact-left" ng-controller="GreetingController" >
				<h3>Contact Form</h3>
				<form>
					<input type="text" placeholder="Name" ng-model="formData.name">
					<input type="email" placeholder="email" ng-model="formData.mail">
					<input type="text" placeholder="Subject" ng-model="formData.subject">
					<textarea type="text"  placeholder="Message" ng-model="formData.message"></textarea>

					<input type="submit" value="Send Message" ng-click="submitMsg()">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //contact -->
<!-- footer -->
	<div class="footer">
		<div class="container">


		</div>
	</div>
<!-- //footer -->
<script src="app/lib/angular.min.js"></script>
<script src="app/lib/angular-route.min.js"></script>
<script src="app/lib/ng-file-upload.min.js"></script>
<script src="app/lib/angular-resource.min.js"></script>
<script src="app/app.js"></script>
<script src="app/service/common.js"></script>
<script src="app/controller/portals_controller.js"></script>
</body>
</html>