<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>e-uniontech</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/templatemo-style.css">
	<link rel="icon" href="static/images/favicons.ico" type="image/x-icon" />
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
	<div class="preloader">
		<div class="sk-spinner sk-spinner-rotating-plane"></div>
	</div>
	<nav class="navbar navbar-fixed-top custom-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><img src="static/images/log_smail.png"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#service" class="smoothScroll">Service</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#portfolio" class="smoothScroll">PRODUCTS</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- start home -->
	<section id="home">
		<div class="overlay">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="static/images/slider/1.jpg" alt="Slide 1">
						<div class="slider-caption">
							<div class="templatemo_homewrapper">
								<h3 class="wow bounceIn">OEM/ODM service</h3>
								<h1 class="wow bounce">Customize according to your requirement</h1>
								<h2>
									<span class="wow fadeIn" data-wow-delay="0.3s">Economy solution,</span>
									<span class="wow fadeIn" data-wow-delay="0.6s">high performance solution,</span>
									<span class="wow fadeIn" data-wow-delay="0.9s">depend on you!</span>
								</h2>
								<a href="#portfolio" class="smoothScroll templatemo-slider-btn btn btn-default">Learn More</a>
							</div>
						</div>
					</li>
					<li>
						<img src="static/images/slider/2.jpg" alt="Slide 2">
						<div class="slider-caption">
							<div class="templatemo_homewrapper">
                            	<h2>Future is here</h2>
								<h1>All in one VR machine</h1>
								<h3>EVR-6</h3>
								<a href="#about" class="smoothScroll templatemo-slider-btn btn btn-default">Meet Our Team</a>	
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end home -->
	<!-- start service -->
	<section id="service">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wow bounceIn">
					<h2>Service</h2>
					<hr>
					<h4>We specialized in VR development and manufacture</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
							<i class="fa structure"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Structure&PCBA Design</h3>
							<p>E-Union’s ID&RD team provide full range support to our customer including structure design and PCBA design</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
							<i class="fa factory"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Mould Factory</h3>
							<p>We have our own mould factory, we can make mould for different kinds of product, VR box, VR all-in-one device......</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
							<i class="fa software"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">After-sale technical support</h3>
							<p>We have fully experienced PCB and software engineer to give you a completely solution for the all-in-one VR machine from hardware to software.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="media">
						<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
							<i class="fa TechnicalSupport"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">Technical Support</h3>
							<p>We provide long term technical after-sale service for our customer. If you reach the quantity, it will be free for you to get our support!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end service -->

	<!-- start divider -->
	<div class="divider">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="divider-des">
						<h3 class="text-uppercase">The best one-stop solution for your VR project. OEM/ODM service accepted.</h3>
						<p>Easy and convenient for you to start your project. Give us your ideas, we will make it come true.</p>
						<!--<button class="btn btn-default text-uppercase">Download</button>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end divider -->
	<!-- start about -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounceIn">
					<h2>About</h2>
					<hr>
					<h4>Brief introduction to our company...</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
					<p>E-Union is a comprehensive electronic device developer and manufacturer. We have our own RD team to make the hardware/software designing, our PCB/SMT factory can work with RD team to produce PCBA products. We have ID designer work with structure engineer to make the product with perfect structure. Now our company take much energy in VR equipment. Hope we can build a long term business!</p>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
					<span class="text-uppercase">North America 37%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 37%;"></div>
					</div>
					<span class="text-uppercase">Europe 27%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 27%;"></div>
					</div>
					<span class="text-uppercase">Middle East 12%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 12%;"></div>
					</div>
					<span class="text-uppercase">China Domestic 5%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
					</div>
					<span class="text-uppercase">Other 19%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 19%;"></div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="static/images/Martin.jpg" class="img-responsive" alt="about img">
						<h3>Martin</h3>
						<h5>Sales Manager</h5>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="static/images/June.jpg" class="img-responsive" alt="about img">
						<h3>June</h3>
						<h5>Sales Director</h5>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="about-wrapper">
						<img src="static/images/Abbey.jpg" class="img-responsive" alt="about img">
						<h3>Abbey</h3>
						<h5>Sales Manager</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end about -->
	<!-- start portfolio -->
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="wow bounceIn">
						<h2 class="wow bounceIn">Products</h2>
						<hr>
						<h4>Our hot-selling products in the past 6 months</h4>
					</div>
					<div class="iso-section wow fadeIn" data-wow-delay="0.6s">

						<ul class="filter-wrapper clearfix">
							<li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".graphic">360 degree Camera</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".photoshop">VR case</a></li>
							<li><a href="#" class="opc-main-bg" data-filter=".wallpaper">All-in-one VR</a></li>
						</ul>

						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">

								<div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/ECA-5.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>ECA-5</h4>
												<p>360 degrees camera. New product, new design. New component for you to realize your own VR video dream.</p>
											</div>											
										</div>
									</div>
								</div>
								<div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/EVR-4.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>EVR-3</h4>
												<p>The most economy way to the VR world. Compatible with different VR/AR app.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/EVR-5.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>EVR-5</h4>
												<p>The most advanced VR all-in-one machine, RK3288 powerful chip bring a real virtual world to you!</p>
											</div>
										</div>
									</div>
								</div>
								<div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/BOBO Z4.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>EVR-6</h4>
												<p>Cool appearance all-in-one VR. Compatible with more chip platform, easy to customize.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/EVR-7.jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>EVR-7</h4>
												<p>Latest design VR case, suit for different phone size from 3.5 inch to 6 inch.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="iso-box photoshop col-md-4 col-sm-6 col-xs-12">
									<div class="portfolio-thumb">
										<img src="static/images/slider/EVR-8(2).jpg" class="fluid-img" alt="portfolio img">
										<div class="portfolio-overlay">
											<div class="portfolio-description">
												<a href="#" class="fa fa-search"></a>
												<a href="#" class="fa fa-link"></a>
												<h4>EVR-8</h4>
												<p>VR case with earphone. Just throw away earphone and enjoy the surrounding sound quality.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end portfolio -->
	<!-- start contact -->
	<section id="contact">
		<div class="container" ng-controller="GreetingController">
			<div class="row">
				<div class="col-md-12">
					<div class="wow bounceIn">
						<h2 class="wow bounceIn">Contact</h2>
						<hr>
						<h4>Talk to us for more assistance...</h4>
					</div>					
					<form action="#" method="post" role="form">
						<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
							<input type="text" placeholder="Name" class="form-control" name="name" ng-model="formData.name">
						</div>
						<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
							<input type="email" placeholder="Email" class="form-control" name="mail" ng-model="formData.mail">
						</div>
						<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
							<input type="text" placeholder="Subject" class="form-control" name="subject" ng-model="formData.subject">
						</div>
						<div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
							<textarea class="form-control" rows="5" placeholder="Message" name="message" ng-model="formData.message"></textarea>
						</div>
						<div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.3s">
							<input type="button" value="Send Message" class="form-control" ng-click="submitMsg()">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- end contact -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="social-icon wow fadeIn" data-wow-delay="0.3s" style="color:#999;font-weight:bold;font-size: larger">
						<!--color: #55acee;-->
						E-Mail: Admin@e-uniontech.com   &nbsp;&nbsp;&nbsp;  Tel:+86 755 23774582  &nbsp;&nbsp;&nbsp;  Mobile：+86 138 2522 6246<br/><br/>
							Add: 1/F, A bldg, Baolong Industrial Park, Longhua District, Shenzhen, 518109, P.R.China<br/><br/>
							Copyright(C)2015-2017 Shenzhen E-Union Technology Co.,Ltd


					</ul>

				</div>
			</div>
		</div>
	</footer>
	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.flexslider.js"></script>
	<script src="static/js/isotope.js"></script>
	<script src="static/js/imagesloaded.min.js"></script>
	<script src="static/js/smoothscroll.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script src="static/js/custom.js"></script>
	<script src="app/lib/angular.min.js"></script>
	<script src="app/lib/angular-route.min.js"></script>
	<script src="app/lib/ng-file-upload.min.js"></script>
	<script src="app/lib/angular-resource.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/service/common.js"></script>
	<script src="app/controller/portals_controller.js"></script>
</body>
</html>